/*your custom CSS here*/
body {
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.heading {
  width: 100%;
  height: 400px;
  padding-top: 200px;
  background-image: url(../img/heading.jpg);
  background-repeat:no-repeat;
  text-align: center;
  color: white;
}

img {
  width: 100%;
}

.box {
  padding: 10px 20px;
}

.container_12 .grid_4 {
    width: 260px;
  }
  
h2 {
  font-size: 14pt;
}
